.dev-icons {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.software-skill-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: "Google Sans Regular";
}

.software-skill-inline:hover {
    transform: scale(1.2);
    transition: all 0.3s linear;
}

.software-skill-inline>i {
    color: #868e96;
}

.software-skill-inline>i:hover {
    color: #645beb;
}


@media (min-width: 69em) {
    .dev-icons {
        padding-left: 0;
        list-style: none;
        font-size: 3.5rem;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}